
    <p><i class="fa-solid fa-circle-info"></i> Форма бронирования находится в тестовом режиме. Для отмены бронирования, просьба написать сюда (ссылка https://t.me/daniladymov)</p>
    <p>Форма бронирования находится в тестовом режиме. Для отмены бронирования, просьба написать сюда <a href="https://t.me/daniladymov">https://t.me/daniladymov</a></p>
    <p>За бронирование и неявку будут применены санкции</p>
    {{ form }}


